input[type="text"], textarea[type="text"] {
    width: 100%;
    border: 1px solid #A0A0A0;;
    color: #828282;
    background: white;
    border-radius: 0%;
    padding: 1% 1%;
    margin: 1% 0%;
}

.submit-button {
    background: #1F87C4;
    width: 107px;
    height: 30px;
    padding: 1vh 3vw;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    color: #FFFFFF;
}

.dropdown {
    width: 100%;
    border: 1px solid black;
    padding: 2% 33%;
    color: black;
    margin: 0% 0%;
}

.settings-image {
    width: 21vw;
    height: 41vh;
    background: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    margin-top: 3%;
}
.settings-image > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}