
.navbar a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar button {
	float: right;
	font-size: 17px;
}

button {
   border: 1px solid #888;
   background: #fff;
   padding: 7px 14px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0f0a0f;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

button:hover {
   border-top-color: #97c8e8;
   background: #888;
   color: #fff;
   transition: 0.4s ease;
   cursor: pointer;
}

button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.navbar {
	position: absolute;
	right: 5vw;
  top: 1vh;
  height: 6vh;
}

.trendingNews {
  position: absolute;
  top: 7vh;
  left: 0;
  width: 100vw;
  height: 20vh;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, Sans-Serif;
}

.newsHead {
  position: absolute;
  left: 10vw;
  right: 70vw;
  font-weight: 100;
  /*position: relative;*/
  top: 3vh;
  font-size: 40px;
  left: 10vw;
}

.newsTag {
  font-weight: 40;
  position: absolute;
  left: 10vw;
  right: 70vw;
  /*position: relative;*/
  top: 13vh;
  left: 10vw;
  font-size: 15px;
}