html{
  margin:0;
  padding: 0;
}
body{
  margin:0;
  padding: 0;
  font-family: 'Lato';
}
.light-heading{
  font-weight: lighter;
}
.dark-subheading{
  font-weight: normal;
}
.navbar a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar button {
	float: right;
	font-size: 17px;
}

button {
   border: 1px solid #0f7cbf;
   background: #fff;
   padding: 7px 14px;background: -webkit-gradient(linear, left top, left bottom, from(#edf3f7), to(#d8e1e8));
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0f0a0f;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

button:hover {
   border-top-color: #97c8e8;
   background: #97c8e8;
   color: #ccc;
}

button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.navbar {
	position: absolute;
	right: 5vw;
}
