.awards-card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.awards-card{
  width: 50%;
}
.awards-card h3 {
  color: #282828;
}
.awards-card-content{
  color: #6d6d6d;
  margin-top: 30px;
}
.awards-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
