.contact-container {
  margin-top: 100px;
}
#team{
  width: 100%;
}
.tab-menu{
  width: 80%;
  margin:auto;
}

.tabs-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab a{
  font-size: 2em !important;
}
