.current-members-card{
  width: 250px;
  height: 300px;
}
.current-members-card-image{
  width: 230px;
  height: 200px;
}
.current-members-card-content{
  margin-left: 20px;
  position: relative;
}
.members-info div{
  display: flex;
  align-items: center;
}
