.recentevents{
  margin-top: 100px;
}

.tab-menu{
  width: 80%;
  margin:auto;
}

.tabs-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-containers{
  margin-top: 30px;
}
