.events-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.3em;
  margin: 10px 0;
}
.event-name{
  width: 40%;
}
.event-date{
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.event-location{
  display: flex;
  justify-content: space-around;
  width: 15%;
}
