.founding-members-card{
  width: 250px;
  height: 300px;
}
.founding-members-card-image{
  width: 230px;
  height: 200px;
}
.founding-members-card-content{
  margin-left: 20px;
  position: relative;
}
.members-info div{
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #A0A0A0;
}
.members-info img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 30px;
}
.vertical-seperator {
  height: 60px;
  width: 1px;
  border: 0.5px solid #3880F4;
  position: absolute;
  left: 30px;
  top: -4px;
}
