.news-banner-container{
  padding: 20px 0;
}
.news-banner-header{
  display: flex;
  justify-content: space-between;
}
.news-banner-header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
  color: #6D6D6D;
}
.menu-icon{
  width: 40px;
}
.news-card-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
