.initiative-blue-banner{
  background-color: #1F87C4;
  color: #fff;
  padding: 30px 0;
}
.initiative-banner-content-container{
  display: flex;
  justify-content: space-between;
}
.video-repo-card{
  width: 40%;
}
.video-repo-iframe-container{
  padding: 20px 0;
  position: relative;
  display: block;
  width: 500px;
  margin: auto;
}
.video-repo-image{
  width: 500px;
  height: 400px;
}
.video-repo-iframe{
  position: absolute;
  width: 460px;
  height: 260px;
  top: 41px;
  left: 20px;
}
.youtube-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  color: #fff;
  background-color: #DD3333;
  border-radius: 50px;
  margin: auto;
  font-size: 1.2em;
}
