.write-to-us-container{
  padding: 20px 0;
  color: #6D6D6D;
}
.write-to-us-container div{
  width: 75%;
}
.label {
  font-size: 1.3em;
  margin: 10px 0;
}
.form-container input {
  width: 100%;
  background-color: #E5E5E5;
  padding: 10px 5px;
  border: none;
  font-size: 1.2em;
}
.form-container input:focus {
  outline: none;
}
.form-container textarea {
  width: 100%;
  background-color: #E5E5E5;
  padding: 10px 5px;
  border: none;
  resize: none;
  height: 200px;
  font-size: 1.2em;
}
.form-container textarea:focus {
  outline: none;
}
