.contactus-container{
  display: flex;
  justify-content: space-between;
}
.contact-card{
  width: 100%;
}
.contact-links{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  padding-top: 30px;
}
.contact-row{
  display: flex;
  margin-top: 20px;
  color: #6D6D6D;
}
.contact-row div{
  margin-left: 30px;
}
.contact-row a{
  margin-left: 30px;
  text-decoration: none;
  color: #6D6D6D !important;
}
.contact-row a:link,.contact-row a:visited, .contact-row a:active{
  color: #6D6D6D !important;
}
.contact-follow-links-head{
  font-size: 1.5em;
}
.contact-follow-links{
  margin-top: 30px;
  width: 40%;
}
.contact-follow-links-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
